# Python
__pycache__/
*.db
*.sqlite
*.sqlite3

# Virtual environments
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Log files
*.log

# Dev Testing Folders and notes
Readme files/
Test files/

# Build Artifacts
dist/
build/
frontend/build/index.html
frontend/build/asset-manifest.json
frontend/build/index.html
frontend/build/asset-manifest.json
